@font-face {
    font-family: Horizon;
    src: url(../public/Materials/horizon.otf);
}
.HeroContainer{
    display: grid;
    grid-area: 1/1/2/2;
    grid-template-rows: 10% 90%;
    background-image: url(/Materials/HeroBackground.png);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    height: 100%;
}
.Nav{
    display: grid;
    grid-area: 1/1/2/2;
    height: 60%;
}
.Banner{
    display: grid;
    grid-area: 2/1/3/2;
    width: 100vw;
    font-size: clamp(4rem, 10vw, 10rem);
    line-height: 0.9;
    font-family: Horizon;
}
.Name{
    display: grid;
    color: #B11226;
    align-content: center;
    font-size: 92px;
    height: 75%;
    overflow: hidden;
    white-space: nowrap;
    justify-self: center;
    border-right: 5px solid #B11226;
    animation:
    typing 5s steps(17) infinite, alternate,
    blink .8s infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 19ch }
}