.ThisPortfolio{
    display: grid;
    grid-template-rows: 30% 70%;
    height: 100vh;
    background-image: url("/Materials/ThisPortfolio.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.PortfolioHero{
    display: grid;
    grid-area: 1/1/2/2;
    grid-template-columns: 60% 40%;
}
.PortfolioBanner{
    display: grid;
    grid-area: 1/1/2/2;
    width: 100%;
    align-self: center;
}
p{
    display: grid;
    grid-area: 1/2/2/3;
    font-size: 90%;
    align-content: center;
    color: #1a1a1f;
}
.PortfolioBody{
    display: grid;
    grid-area: 2/1/3/2;
}
.LinkHome{
    display: grid;
    grid-area: 2/1/3/2;
}
.BackButton{
    width: 7%;
    align-self: end;
    margin: 2%;
    border-radius: 5%;
    transition: transform 0.50s ease;
}
.BackButton:hover{
    transform: scale(110%); 
}
