@font-face {
    font-family: Cossette;
    src: url(../Materials/CossetteTitre-Regular.ttf);
}
@font-face {
    font-family: Horizon;
    src: url(../Materials/horizon.otf);
}
@font-face {
    font-family: Arimo;
    src: url(../Materials/Arimo-VariableFont_wght.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
html, body {
    overflow-x: hidden;
}
.MainConteiner {
    display: grid;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: #F1F1EE;
}
.Hero{
    display: grid;
    min-height: 130vh;
    position: relative;
    z-index: 1;
}
.AboutMe{
    display: grid;
    min-height: 130vh;
}
.CaseStudy{
    display: grid;
    height: 270vh;
}
.Footer{
    display: grid;
    height: 40vh;
}