.FooterMain{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100%;
    background-color: #fff384;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
#contact{
    display: grid;
    grid-area: 1/1/2/2;
}
.AboutThisPortfolio{
    display: grid;
    grid-area: 1/2/2/3;
}
.LinkFooter{
    display: grid;
    align-content: center;
}
.AboutThisPortfolioImg{
    width: 100%;
    transition: transform 0.50s ease;
}
.AboutThisPortfolioImg:hover{
    transform: scale(110%); 
}
.Feedback{
    display: grid;
    grid-area: 1/3/2/4;

}
.FeedbackImg{
    width: 65%;
    justify-self: center;
    border-radius: 10%;
}